﻿
@{
    ViewBag.Title = "Banco";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/Cadastro/Banco.js"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Banco
            <small>Tela de cadastro dos bancos</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Banco</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm">
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-default" onclick="GetAll()">
                                    Novo Banco
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label for="text">Nome</label>
                                    <input type="text" class="form-control" id="txtNome">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="text">Data de Cadastro:</label>
                                    <input type="date" class="form-control" id="dtCadastro">
                                </div>
                            </div>
                        </div>



                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover" id="tabelaBanco">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th colspan="6">Nome</th>
                                    <th>Data de Cadastro</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tr>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Novo Banco</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Data de Cadastro:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="date" class="form-control pull-right" id="datepicker">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                </div>
                <form role="form">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" id="nomeBanco" class="form-control" placeholder="Enter ...">
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Código do Banco:</label>
                                <input type="text" id="codigoBanco" class="form-control" placeholder="Enter ...">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Agência:</label>
                                <input type="text" id="agenciaBanco" class="form-control" placeholder="Enter ...">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Conta:</label>
                                <input type="text" id="contaBanco" class="form-control" placeholder="Enter ...">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Chave Pix</label>
                        <input type="text" id="chavePix" class="form-control" placeholder="Enter ...">
                    </div>

                    <!-- select -->

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="Salvar()">Salvar</button>
                <div class="row">
                    <div class="col-md-12">
                        <center><span class="warning" id="mensagem"></span></center>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>





    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


