﻿
@{
    ViewBag.Title = "Funcionário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Cadastro/Funcionario.js"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Funcionário
            <small>Tela de cadastro dos Funcionários</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Funcionário</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm">
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-default">
                                    Novo Funcionário
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label for="text">Nome</label>
                                    <input type="text" class="form-control" id="txtNome">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="text">Data de Cadastro:</label>
                                    <input type="date" class="form-control" id="dtCadastro">
                                </div>
                            </div>
                        </div>



                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>ID</th>
                                <th colspan="4">Nome</th>
                                <th>Data de Cadastro</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            <tr>
                                
                            </tr>
                            
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Novo Funcionário</h4>
            </div>
            <div class="modal-body">
                
                <form role="form">
                    <!-- text input -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Nome</label>
                                <input type="text" class="form-control" placeholder="Enter ..." id="nomeFuncionario">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>CPF/CNPJ:</label>
                                <input type="text" class="form-control" placeholder="Enter ..." id="cpfcnpjFuncionario">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Tipo Funcionário:</label>
                                <select class="form-control select2" style="width: 100%;" id="selTipoPessoa"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="text">Data de Admissão:</label>
                                <input type="date" class="form-control" id="dtAdmissao">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="text">Data de Desligamento:</label>
                                <input type="date" class="form-control" id="dtDemissao">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="text">Estado Civil:</label>
                                <select class="form-control select2" style="width: 100%;" id="selEstadoCivil"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="text">Ativo:</label>
                                <select class="form-control select2" style="width: 100%;" id="selAtivo">
                                    <option value="S">Sim</option>
                                    <option value="N">Não</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="text">Senha:</label>
                                <input type="password" class="form-control" id="txtSenha">
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>CEP:</label>
                                <input type="text" class="form-control" placeholder="Enter ..." id="cepFuncionario" onchange="GetCep()">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Endereço</label>
                                <input type="text" class="form-control" placeholder="Enter ..." id="enderecoFuncionario">
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Número:</label>
                                <input type="text" class="form-control" placeholder="Enter ..." id="numeroFuncionario">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Complemento:</label>
                                <input type="text" class="form-control" placeholder="Enter ..." id="complementoFuncionario">
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Bairro:</label>
                                <input type="text" class="form-control" placeholder="Enter ..." id="bairroFuncionario">
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Municipio:</label>
                                <input type="text" class="form-control" placeholder="Enter ..." id="municipioFuncionario">
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Telefone:</label>
                                <input type="text" class="form-control" placeholder="(xx) xxxx-xxxx" id="telefoneFixo">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Celular:</label>
                                <input type="text" class="form-control" placeholder="xx) xxxx-xxxxx" id="telefoneCelular">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Tel.Alternativo:</label>
                                <input type="text" class="form-control" placeholder="xx) xxxx-xxxx" id="telefoneAlternativo">
                            </div>
                        </div>
                    </div>

                    <hr />

                    <!--<div class="container py-5">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="card rounded-0 border-0 shadow">
                    <div class="card-body p-10">-->
                    <!--  Bootstrap table-->
                    <!--<div class="table-responsive">
        <table class="table" id="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Contato</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>-->
                    <!-- Add rows button-->
                    <!--<a class="btn btn-primary rounded-0 btn-block" id="insertRow" href="#">Inserir Telefones</a>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="Salvar()">Salvar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    $(document).ready(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        //Datemask2 mm/dd/yyyy
        $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
        //Money Euro
        $('[data-mask]').inputmask()

        //Date range picker
        $('#reservation').daterangepicker()
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate: moment()
            },
            function (start, end) {
                $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
            }
        )

        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        })

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        })
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red'
        })
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        })

        //Colorpicker
        $('.my-colorpicker1').colorpicker()
        //color picker with addon
        $('.my-colorpicker2').colorpicker()

        //Timepicker
        $('.timepicker').timepicker({
            showInputs: false
        })
    })
</script>

