﻿    <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- search form -->
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENU</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-paper-plane"></i>
                    <span>Cadastro</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Banco/Banco"><i class="fa fa-circle-o"></i> Bancos</a></li>
                    <li><a href="~/Campanhas/Campanhas"><i class="fa fa-circle-o"></i> Campanhas</a></li>
                    <li><a href="~/Colaborador/Colaborador"><i class="fa fa-circle-o"></i> Doadores</a></li>
                    <li><a href="~/Funcionario/Funcionario"><i class="fa fa-circle-o"></i> Funcionários</a></li>
                    <li><a href="~/Instituto/Instituto"><i class="fa fa-circle-o"></i> Institutos</a></li>
                    <li><a href="~/Usuario/Usuario"><i class="fa fa-circle-o"></i> Usuários</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Relatórios</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/RelatorioDoador/RelatorioDoador"><i class="fa fa-circle-o"></i> Doadores</a></li>
                    <li><a href="~/RelatorioLigacao/RelatorioLigacao"><i class="fa fa-circle-o"></i> Ligações</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-envelope-open"></i>
                    <span>Doações</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Doadores</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Busca de Donativos</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-money"></i>
                    <span>Financeiro</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Formas de Pagamento</a></li>
                </ul>
            </li>
          


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
