﻿
@{
    ViewBag.Title = "Doadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Cadastro/Colaborador.js"></script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Doadores
            <small>Tela de cadastro dos doadores</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Doadores</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm">
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-colaborador">
                                    Novo Doador
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label for="text">Nome</label>
                                    <input type="text" class="form-control" id="txtNome">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="text">Data de Cadastro:</label>
                                    <input type="date" class="form-control" id="dtCadastro">
                                </div>
                            </div>
                        </div>



                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover" id="tabelaColaborador">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th colspan="5">Nome</th>
                                    <th>Periodicidade</th>
                                    <th>CPF/CNPJ</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tr>
                            </tr>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="modal fade" id="modal-colaborador">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Novo Doador</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Operador:</label>
                            <input type="text" class="form-control" placeholder="Enter ..." id="operadorAtendimento" required>
                            <!-- /.input group -->
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" style="padding-top: 18px;">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="fichaInativa">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Ficha Inativa
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="naoPodeLigar">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Não Pode
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <form role="form">
                    <!-- text input -->


                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>Nome</label>
                                <input type="text" class="form-control" placeholder="Enter ..." id="nomeColaborador">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>CPF:</label>
                                <input type="text" class="form-control" placeholder="Enter ..." id="cpfColaborador">
                            </div>
                        </div>
                    </div>

                    @*<div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Contato</label>
                    <input type="text" class="form-control" placeholder="Enter ...">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Recibo</label>
                    <input type="text" class="form-control" placeholder="Enter ...">
                </div>
            </div>
        </div>*@

                    <hr />

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>CEP:</label>
                                <input type="text" class="form-control" placeholder="Enter ..." id="cepColaborador" onchange="GetCep()">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Endereço</label>
                                <input type="text" class="form-control" placeholder="Enter ..." id="enderecoColaborador">
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Número:</label>
                                <input type="text" class="form-control" placeholder="Enter ..." id="numeroColaborador">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Complemento:</label>
                                <input type="text" class="form-control" placeholder="Enter ..." id="complementoColaborador">
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Bairro:</label>
                                <input type="text" class="form-control" placeholder="Enter ..." id="bairroColaborador">
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Municipio:</label>
                                <input type="text" class="form-control" placeholder="Enter ..." id="municipioColaborador">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Referencia:</label>
                        <input type="text" class="form-control" placeholder="Enter ...">
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Valor de Contribuição:</label>
                                <input type="text" class="form-control" placeholder="Enter ..." id="valorContribuicaoColaborador">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Dia de Contribuição:</label>
                                <input type="text" class="form-control" placeholder="Enter ..." id="diaContribuicaoColaborador">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Periodicidade:</label>
                                <select class="form-control select2" style="width: 100%;" id="selPeriodicidade"></select>
                            </div>
                        </div>
                    </div>                    <!-- select -->

                    <hr />

                    <div class="container py-5">
                        <div class="row">
                            <div class="col-lg-9 mx-auto">
                                <div class="card rounded-0 border-0 shadow">
                                    <div class="card-body p-10">

                                        <!--  Bootstrap table-->
                                        <div class="table-responsive">
                                            <table class="table" id="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Telefone</th>
                                                        <th scope="col">Contato</th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- Add rows button-->
                                        <a class="btn btn-primary rounded-0 btn-block" id="insertRow" href="#">Inserir Telefones</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


